body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5d5073;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: rgb(228, 228, 102);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.tabs {
    margin-bottom: 20px;
    border-bottom: 2px solid #0c1b07;
}

.tab-btn {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

.tab-btn.active {
    color: #007bff;
    border-bottom: 3px solid #002aff;
}

.content-section {
    display: none; /* Hidden by default */
}

.content-section.active {
    display: block;
    animation: fadeIn 0.5s;
}

.upload-area, .input-group {
    margin: 20px 0;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 8px;
}

button {
    background-color: #007bff;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    background-color: #c32737;
}

img#preview {
    max-width: 300px;
    margin-top: 20px;
    border-radius: 8px;
}

.hidden { display: none; }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}